* {
    margin: 0;
}

html {
    min-width: 375px;
    max-width: 500px;
    margin: 0 auto;
    height: max-content;
}

.logo {
    width: 196px;
    height: 124px;
    flex-shrink: 0;
    margin: 0 auto;
    margin-top: 15px;
}

.logo>img {
    width: inherit;
    height: inherit;
}

.section_title {
    width: inherit;
    height: 100%;
    color: black;
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
    text-transform: capitalize;
    word-wrap: break-word;
    margin-top: 27px;
    padding-left: 10px;
}

.header {
    display: flex;
    width: inherit;
    height: 4.6875rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 4.9375rem;
    flex-shrink: 0;
    flex-wrap: wrap;
    border-radius: 0rem 0rem 0.9375rem 0.9375rem;
    background: #000;
    overflow: hidden;
}


#hist-wrapper {
    display: flex;
    flex-direction: column;
}


.hist-wrapper {
    margin: 15px auto;
    display: block;
    height: max-content;
    width: max-content;
}

.hist-content {
    width: 307px;
    height: max-content;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    background: #FFC639;
    border-radius: 15px;
}

.hist-content>div:first-child {
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    text-transform: capitalize;
    word-wrap: break-word;
    margin-bottom: 5px;
}

.hist-content>div:nth-child(3) {
    color: #3F2E20;
    font-size: 14px;
    font-family: Inter;
    font-weight: 700;
    text-transform: capitalize;
    word-wrap: break-word;
    margin: 5px 0;
}

.hist-line-effet {
    width: 121px;
    height: 5px;
    background: linear-gradient(90deg, #D0A435 0%, #D0A435 49%, rgba(184.39, 138.54, 90.71, 0) 100%);
    border-radius: 15px;
}

.hist-desc {
    width: 284px;
    color: #484848;
    font-size: 10px;
    font-family: Inter;
    font-weight: 700;
    text-transform: capitalize;
    word-wrap: break-word;
}

.bgcolor {
    background-color: #FFC639;
}